.teddyhyde p {
    display: none;
}

.teddyhyde p:nth-child(1) {
    display: inline-block !important;
}

.teddyhyde h1 {
    display: none;
}

.teddyhyde h1:nth-child(1) {
    display: inline-block !important;
}

.teddyhyde code {
    display: none;
}

.teddyhyde code:nth-child(1) {
    display: inline-block !important;
}