---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div id="excerpt">
    {{ page.excerpt }}
</div>

  <div id="full">
    <h1>This is the entire thing</h1>
    {{ content }}
</div>

<iframe height="400" width="100%" frameborder="0" id="th" src="https://www.teddyhyde.com/contribution/xrd.teddyhyde.io"></iframe>
<script src="https://cdn.teddyhyde.com/0.0.1/teddyhyde-client-0.0.1.js"></script>

<div id="thanks">
Thank you for your contribution! Your support allows me to keep writing.
</div>

<script>

function setDisplayById( id, display ) {
    const el = document.getElementById(id);
    if (el) {
	el.style.display = display;
    }
}

function revealContent(){
    console.log( "Inside reveal content" );
    setDisplayById("excerpt", "none" );
    setDisplayById(("full", "inline-block" );
}

function sayThanks() {
    setDisplayById( "thanks", "inline-block" );
    setTimeout( function() {
	setDisplayById( "thanks", "none" );
    }, 5000 );
}

  function showAltMessage() {
      console.log( "Hmm, you won't contribute, OK" );
  }

  TeddyHydeClient.onDecline( function() {
      showAltMessage();
      console.log( "Hey, we declined to pay!!!" );
  });

  TeddyHydeClient.onContribution( function() {
    setTimeout( function() {
	console.log( "Got a contribution" );
	sayThanks();
	revealContent();
    }, 5000 );
  });

  TeddyHydeClient.onTx( function( data ) {
      console.log( "Got tx", data );
      TeddyHydeClient.logTx( data );
  });

  TeddyHydeClient.onLoadFailed( function() {
      console.log( "Failed to load it!!!" );
  });
			
  </script>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

