---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <iframe height="400" width="100%" frameborder="0" id="th" src="https://www.teddyhyde.com/payment/xrd.teddyhyde.io"></iframe>
  <script src="https://cdn.teddyhyde.com/0.0.01/teddyhyde-client-0.0.1.js"></script>

  <script>
    
  function revealContent(){
      setDisplayPs( "inline-block" );
      document.getElementById("th").style.display = "none";
  }

  function setDisplayPs( value ) {
      const ps = document.getElementsByTagName("p");
      for( var i = 1; i < ps.length; i++ ) {
	  var p = ps[i];
	  p.style.display = value;
      }
  }

  function showAltMessage() {
      console.log( "Hmm, you won't contribute, OK" );
  }

  TeddyHydeClient.onDecline( function() {
      showAltMessage();
      console.log( "Hey, we declined to pay!!!" );
  });

  TeddyHydeClient.onContribution( function() {
      revealContent();
  });

  TeddyHydeClient.onLoadFailed( function() {
      console.log( "Failed to load it!!!" );
  });
			
  </script>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<script src="/setup.js"></script>
    
